<?xml version="1.0" encoding="utf-8"?>
<Media Key="d067a700-df51-4b01-b87a-d74b3f3daa58" Alias="Boys Processed 1" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/BoysProcessed1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-24T12:55:51</CreateDate>
    <NodeName Default="Boys Processed 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a0thpucr/boys_processed_1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>