<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6cb5cef-55b3-4d30-b386-ac64b2f1d104" Alias="DSCN0398" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0398</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T22:56:44</CreateDate>
    <NodeName Default="DSCN0398" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3fomxjvt/dscn0398.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>