<?xml version="1.0" encoding="utf-8"?>
<Media Key="49b5df1d-962f-44dd-b475-c990bbe1740d" Alias="DSCN0158" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0158</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:34</CreateDate>
    <NodeName Default="DSCN0158" />
    <SortOrder>58</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dpplksjp/dscn0158.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>