<?xml version="1.0" encoding="utf-8"?>
<Media Key="09ee749c-e98b-433d-b520-7573c79d2419" Alias="DSCN0223" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DSCN0223</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2024-04-02T22:45:55</CreateDate>
    <NodeName Default="DSCN0223" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wr0o2cml/dscn0223.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>