<?xml version="1.0" encoding="utf-8"?>
<Media Key="939b0ad2-c69d-44ec-8913-33a1c1aed10f" Alias="DSCN0353" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0353</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-01T14:06:32</CreateDate>
    <NodeName Default="DSCN0353" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0qfjxe23/df84cb154fba4003a95c84e65bf4067d.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>