<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5d05638-5a53-4f4a-8ba7-4698b0bc22b1" Alias="DSCN0331" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0331</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-29T21:58:10</CreateDate>
    <NodeName Default="DSCN0331" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hzlnbjkt/bfc09b4751aa47f79c67e0293501a4ef.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>