<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0b03ee4-c7eb-4fb7-b1cf-4b83c9d94223" Alias="DSCN0406" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0406</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T22:56:58</CreateDate>
    <NodeName Default="DSCN0406" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2i5lb2hl/dscn0406.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>