<?xml version="1.0" encoding="utf-8"?>
<Media Key="c530730b-2499-42d2-b6da-19a1ecb02d14" Alias="DSCN0125 (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DSCN01251</Path>
    <Trashed Parent="cfc55d31-be44-44ba-80ce-46dea891e482">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-03-28T23:05:33</CreateDate>
    <NodeName Default="DSCN0125 (1)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cnzdbrmz/dscn0125.pdn]]></Value>
    </umbracoFile>
  </Properties>
</Media>