<?xml version="1.0" encoding="utf-8"?>
<Media Key="dcb47226-ab59-4cde-a8d4-b2c3622dd460" Alias="DSCN0392" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0392</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-01T14:06:33</CreateDate>
    <NodeName Default="DSCN0392" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ebzljxcz/e02c4236185240809fc05f92ef185c48.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>