<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e1e177f-184b-4feb-92f0-0ee14e659111" Alias="DSCN0080" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0080</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:32</CreateDate>
    <NodeName Default="DSCN0080" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pelb21sl/dscn0080.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>