<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c5c1a2e-1be4-4130-8e8f-7be0ddea0779" Alias="DSCN0204 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN02041</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-22T22:32:34</CreateDate>
    <NodeName Default="DSCN0204 (1)" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fanfzdhe/dscn0204.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>