<?xml version="1.0" encoding="utf-8"?>
<Media Key="2798c997-9668-46b4-9092-72042146cc8b" Alias="DSCN0334" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0334</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-29T21:58:11</CreateDate>
    <NodeName Default="DSCN0334" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/shejqj1i/83d43b42e5f14148a2477ff68d4213c7.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>