<?xml version="1.0" encoding="utf-8"?>
<Media Key="22197b9c-8f53-4d67-99eb-b83be5411607" Alias="DSCN0330" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DSCN0330</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-25T21:14:03</CreateDate>
    <NodeName Default="DSCN0330" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tj3bsist/dscn0330_wpa_1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>