<?xml version="1.0" encoding="utf-8"?>
<Media Key="86990bc1-f39b-498a-bcb9-0e6cbc445457" Alias="DSCN0400" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0400</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T22:56:54</CreateDate>
    <NodeName Default="DSCN0400" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/y2fjtbu1/dscn0400.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>