<?xml version="1.0" encoding="utf-8"?>
<Media Key="d31fb2b7-ffd0-426f-a935-7c30b3d900ab" Alias="DSCN0051" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0051</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:31</CreateDate>
    <NodeName Default="DSCN0051" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wgzb5u4q/dscn0051.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>