<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa1033ff-567d-4cb0-815d-69d4b868be7a" Alias="DSCN0336" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0336</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-29T21:58:11</CreateDate>
    <NodeName Default="DSCN0336" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5ezbb4t3/e50a9a3b4047424ba11dc99488aabcf8.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>