<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f832ca4-5009-4806-99ba-889e96d01c4a" Alias="DSCN0204" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0204</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-29T21:19:29</CreateDate>
    <NodeName Default="DSCN0204" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uiwig5yj/af9e15a5ac3f4e21937338981f7c00bb.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>