<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d25a8af-8561-4ce2-ab87-2b6b471d34ae" Alias="DSCN0385 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN03851</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-10T22:07:18</CreateDate>
    <NodeName Default="DSCN0385 (1)" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vguckdlb/b5b620a404294e31be1b6dd618bf2efa.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>