<?xml version="1.0" encoding="utf-8"?>
<Media Key="11f61fd6-f4d0-4293-a60d-44a6634b2a8b" Alias="DSCN0377" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0377</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-01T14:06:33</CreateDate>
    <NodeName Default="DSCN0377" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0appmeoq/7d434c68b51748a0be22448076432f23.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>