<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b0e52c7-3b8e-40c3-9dd0-24c9d3661834" Alias="DSCN0414" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0414</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T22:57:31</CreateDate>
    <NodeName Default="DSCN0414" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yfja2o2o/dscn0414.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>