<?xml version="1.0" encoding="utf-8"?>
<Media Key="d333affb-40c4-4442-be87-7af51502c3eb" Alias="DSCN0129" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0129</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:33</CreateDate>
    <NodeName Default="DSCN0129" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5wxdhu4e/dscn0129.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>