<?xml version="1.0" encoding="utf-8"?>
<Media Key="5973457b-f562-417a-8c06-9f99e6fc37b1" Alias="DSCN0349 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN03491</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-01T14:06:30</CreateDate>
    <NodeName Default="DSCN0349 (1)" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pvchgwlc/09199b7a64334c09a46a431caeb36054.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>