<?xml version="1.0" encoding="utf-8"?>
<Media Key="5cadfa63-c16b-4aec-97bc-9f92acb2f8f6" Alias="DSCN0335" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0335</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-29T21:58:11</CreateDate>
    <NodeName Default="DSCN0335" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mx3k0xdl/58d29fc7325149259e448d738c83271f.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>