<?xml version="1.0" encoding="utf-8"?>
<Media Key="ccddb991-50f9-439e-bb6e-814b9007c9ad" Alias="DSCN0159" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0159</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:34</CreateDate>
    <NodeName Default="DSCN0159" />
    <SortOrder>59</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/s42n1thz/dscn0159.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>