<?xml version="1.0" encoding="utf-8"?>
<Media Key="41e1db47-34e8-44c2-903e-b2ac17e747d1" Alias="DSCN0186" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0186</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:35</CreateDate>
    <NodeName Default="DSCN0186" />
    <SortOrder>79</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ihnpcqpi/dscn0186.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>