<?xml version="1.0" encoding="utf-8"?>
<Media Key="052a4a32-80c3-4149-a3ef-dbeeb23d4f6d" Alias="DSCN0332" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0332</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-29T21:58:10</CreateDate>
    <NodeName Default="DSCN0332" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/grfcubod/bc4017a0d5fb474fb879a05cfd7ae152.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>