<?xml version="1.0" encoding="utf-8"?>
<Media Key="4647f8bc-9979-4668-9bd2-879be7b79e71" Alias="DSCN0316" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DSCN0316</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-25T21:14:02</CreateDate>
    <NodeName Default="DSCN0316" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xl2eortz/60ebbc317002459cb1fabf36e6aba79c.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>