<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa64f6f8-7829-4504-9d28-1ac76b96756b" Alias="DSCN0253" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0253</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T22:45:55</CreateDate>
    <NodeName Default="DSCN0253" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/511gj4rj/dscn0253.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>