<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a51abdd-0bec-4d60-a441-88b3a4abbe2a" Alias="DSCN0148" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0148</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:33</CreateDate>
    <NodeName Default="DSCN0148" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1ovfcsxm/dscn0148.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>