<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b2d7827-872d-4956-b12d-97c286c40c3f" Alias="DSCN0064" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0064</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:32</CreateDate>
    <NodeName Default="DSCN0064" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ef2c00zn/dscn0064.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>