<?xml version="1.0" encoding="utf-8"?>
<Media Key="ace2d9aa-48b8-43bb-8aae-014030b1826f" Alias="DSCN0364 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN03641</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-01T14:06:31</CreateDate>
    <NodeName Default="DSCN0364 (1)" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vtmpflfy/f27f29325c304f518ed8abbb82a4073b.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>