<?xml version="1.0" encoding="utf-8"?>
<Media Key="08edc951-052a-4b69-a24e-3ae84a3f4a48" Alias="DSCN0358" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0358</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-01T14:06:30</CreateDate>
    <NodeName Default="DSCN0358" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k5ep0cbk/42b7757810ad426dbcbb8c293334f55f.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>