<?xml version="1.0" encoding="utf-8"?>
<Media Key="163f77f9-0a52-4674-a078-9577352b208d" Alias="DSCN0372" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0372</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-29T21:22:25</CreateDate>
    <NodeName Default="DSCN0372" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/531d4fss/fe665268733d4222834588d7e3183056.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>