<?xml version="1.0" encoding="utf-8"?>
<Media Key="f98a53a0-d394-4109-a268-164f8ffd140f" Alias="DSCN0329" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0329</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-29T21:58:11</CreateDate>
    <NodeName Default="DSCN0329" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uzjjv4mu/6565249dd0f347b3ae036743700a8bed.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>