<?xml version="1.0" encoding="utf-8"?>
<Media Key="99458e02-2311-4935-a014-bce4d1c432fb" Alias="DSCN0411" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0411</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T22:57:22</CreateDate>
    <NodeName Default="DSCN0411" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ashelgir/dscn0411.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>