<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ff1f1cf-4c20-48e1-ae51-b87ee16e4b5c" Alias="DSCN0385" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0385</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-01T14:06:33</CreateDate>
    <NodeName Default="DSCN0385" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zhypclza/3aed6d0fdae94f2dbdc92c2f4920bc48.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>