<?xml version="1.0" encoding="utf-8"?>
<Media Key="0db8bd40-58b6-42d2-b566-8e42d6ea4d56" Alias="DSCN0126" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0126</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:33</CreateDate>
    <NodeName Default="DSCN0126" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/i04lqdnw/dscn0126.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>