<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d09ff54-fc9a-449b-b9b1-0b10bdde501a" Alias="DSCN0156" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0156</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:34</CreateDate>
    <NodeName Default="DSCN0156" />
    <SortOrder>56</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kl5bspm0/dscn0156.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>