<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e84db2a-b61b-442a-bd1e-9ec5501a0461" Alias="DSCN0407" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0407</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T22:57:15</CreateDate>
    <NodeName Default="DSCN0407" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ftnjihq1/dscn0407.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>