<?xml version="1.0" encoding="utf-8"?>
<Media Key="fae54e66-ee88-46bd-b4f0-db72de8efdb8" Alias="DSCN0204" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DSCN0204</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-25T20:50:25</CreateDate>
    <NodeName Default="DSCN0204" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mbhol4ui/7a18823fa0e546a79fc140d1e6ce02b6.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>