<?xml version="1.0" encoding="utf-8"?>
<Media Key="14ec7c56-b0d9-4433-a24b-d224d96b7ac9" Alias="DSCN0138" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0138</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:33</CreateDate>
    <NodeName Default="DSCN0138" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kb4oyfgz/dscn0138.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>