<?xml version="1.0" encoding="utf-8"?>
<Media Key="8cadd273-98de-43a6-8500-d9db3f9645be" Alias="DSCN0169" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0169</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:34</CreateDate>
    <NodeName Default="DSCN0169" />
    <SortOrder>68</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/oxjk1dg4/dscn0169.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>