<?xml version="1.0" encoding="utf-8"?>
<Media Key="0304fa89-528b-45bc-823f-8ff8569ce73c" Alias="DSCN0225" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0225</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T22:45:55</CreateDate>
    <NodeName Default="DSCN0225" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/r53aia2l/dscn0225.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>