<?xml version="1.0" encoding="utf-8"?>
<Media Key="3eef8714-ddd8-42f9-85a9-8a7fa0d0140d" Alias="DSCN0374" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0374</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-01T14:06:32</CreateDate>
    <NodeName Default="DSCN0374" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ckdp4pwy/3336006fe49a4e94a5687627fbf90ca0.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>