<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1894d44-afad-4bfd-8102-1594f5e33832" Alias="DSCN0328" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DSCN0328</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-25T21:14:03</CreateDate>
    <NodeName Default="DSCN0328" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ijgjtinn/87100ab04fa14b58bf3a880606c7652e.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>