<?xml version="1.0" encoding="utf-8"?>
<Media Key="04f9f76a-c45f-4549-8148-bc9619d50494" Alias="DSCN0061" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0061</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:32</CreateDate>
    <NodeName Default="DSCN0061" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nt1psbc5/dscn0061.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>