<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b629d3b-c831-4039-8018-b6465487db07" Alias="DSCN0385" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DSCN0385</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-26T13:05:09</CreateDate>
    <NodeName Default="DSCN0385" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hwohfgzr/c6742a39ac5b4b54b55e8085dd8fda96.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>