<?xml version="1.0" encoding="utf-8"?>
<Media Key="703fd3a5-b1ba-4ba4-80f8-761d0bfef216" Alias="DSCN0057" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0057</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:31</CreateDate>
    <NodeName Default="DSCN0057" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/upjd42f0/dscn0057.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>