<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1cbc6e6-1d20-4443-a095-7057565c532e" Alias="DSCN0220" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0220</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T22:45:55</CreateDate>
    <NodeName Default="DSCN0220" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2ddmxyja/dscn0220.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>