<?xml version="1.0" encoding="utf-8"?>
<Media Key="299626d8-3589-4f80-8db8-fc05eabf1c8c" Alias="DSCN0349" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0349</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-29T21:22:26</CreateDate>
    <NodeName Default="DSCN0349" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1ytjmkmj/5cec921d98eb45729f41ca3d1689bb32.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>