<?xml version="1.0" encoding="utf-8"?>
<Media Key="89ebd121-049c-411e-8043-1851ca6fe874" Alias="DSCN0263" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0263</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T22:45:56</CreateDate>
    <NodeName Default="DSCN0263" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/e5ipxcm2/dscn0263.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>