<?xml version="1.0" encoding="utf-8"?>
<Media Key="1604ca4d-22f9-43f2-bd08-d01249dd1bc3" Alias="DSCN0428" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0428</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T22:58:28</CreateDate>
    <NodeName Default="DSCN0428" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jpfaifxz/dscn0428.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>