<?xml version="1.0" encoding="utf-8"?>
<Media Key="1245eeaa-2140-43eb-a56a-1fefcc11215a" Alias="DSCN0395" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0395</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-01T14:06:33</CreateDate>
    <NodeName Default="DSCN0395" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vtxekesa/457b4defb7b34443957b8bd82704bc73.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>