<?xml version="1.0" encoding="utf-8"?>
<Media Key="362623c4-8e0d-47dd-a935-112fb43ba79b" Alias="DSCN0350" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0350</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-01T14:06:30</CreateDate>
    <NodeName Default="DSCN0350" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yirdmnqn/b253a2fb314c45a694c78e5e4feebbac.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>