<?xml version="1.0" encoding="utf-8"?>
<Media Key="c58df5c4-f965-4646-8200-b9be1bf7ff15" Alias="DSCN0328" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0328</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-29T21:58:11</CreateDate>
    <NodeName Default="DSCN0328" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yl0j1rlf/0d77dedecfec4e789c8f6366982ef397.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>