<?xml version="1.0" encoding="utf-8"?>
<Media Key="344fe34f-548c-499b-be37-3f29a14a3794" Alias="DSCN0376 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN03761</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-10T22:07:22</CreateDate>
    <NodeName Default="DSCN0376 (1)" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jhrf4nem/db5e343922124500a9a962efdefa6565.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>