<?xml version="1.0" encoding="utf-8"?>
<Media Key="b544cb6a-df18-4e53-9abd-0fc62a236c25" Alias="DSCN0317" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DSCN0317</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-25T21:14:02</CreateDate>
    <NodeName Default="DSCN0317" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ntffjniy/b3a8a9bbe0c7426585f07a0e85e05e1e.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>