<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1109ec8-9b84-4cb2-a65e-bed9e5147b0e" Alias="DSCN0271" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0271</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T22:45:56</CreateDate>
    <NodeName Default="DSCN0271" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/z0pbb2me/dscn0271.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>