<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b26ebd7-11ba-47cc-bb2a-d333c230eec5" Alias="DSCN0369 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN03691</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-01T14:06:31</CreateDate>
    <NodeName Default="DSCN0369 (1)" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0hvdng30/101892b9a1f8444abebd4f25b5c6375d.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>