<?xml version="1.0" encoding="utf-8"?>
<Media Key="acb4c62a-ac57-426a-b1c8-27e65dcd5ce5" Alias="DSCN0270" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0270</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T22:45:56</CreateDate>
    <NodeName Default="DSCN0270" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ftdljlcx/dscn0270.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>