<?xml version="1.0" encoding="utf-8"?>
<Media Key="a96e8414-b8d4-4a6b-95f9-c0c2965d07e6" Alias="DSCN0369" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0369</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-29T21:22:26</CreateDate>
    <NodeName Default="DSCN0369" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ckcg3kou/3fc6e27e02b8432fa610e489c33ee6f7.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>