<?xml version="1.0" encoding="utf-8"?>
<Media Key="d679354a-30c5-40a5-8edd-3f74c13bf033" Alias="DSCN0032" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0032</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:31</CreateDate>
    <NodeName Default="DSCN0032" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jq0htvwf/dscn0032.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>