<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac1e1b49-7f43-4495-b218-829b2c9dd1f7" Alias="DSCN0376" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0376</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-01T14:06:33</CreateDate>
    <NodeName Default="DSCN0376" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/j2nb3lcd/f1746c69cfd3432fadb4d95e8921c793.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>