<?xml version="1.0" encoding="utf-8"?>
<Media Key="ecca2cce-5322-466c-9305-4f880e3530a3" Alias="DSCN0434" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0434</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T22:58:28</CreateDate>
    <NodeName Default="DSCN0434" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zawmv1bc/dscn0434.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>