<?xml version="1.0" encoding="utf-8"?>
<Media Key="e97ebb1f-cf19-4d4b-a322-75075a7869cf" Alias="DSCN0160" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0160</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:34</CreateDate>
    <NodeName Default="DSCN0160" />
    <SortOrder>60</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dg3h30iz/dscn0160.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>