<?xml version="1.0" encoding="utf-8"?>
<Media Key="3906a4d1-44b7-4e00-8bab-050d86cd79ac" Alias="DSCN0059" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0059</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:32</CreateDate>
    <NodeName Default="DSCN0059" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/04samonx/dscn0059.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>