<?xml version="1.0" encoding="utf-8"?>
<Media Key="117532b4-327b-4a2b-a8bf-70534a77403a" Alias="DSCN0200" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0200</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-29T21:14:04</CreateDate>
    <NodeName Default="DSCN0200" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wizhkel1/c9a6cf182bcf4022a3e4446d51211700.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>