<?xml version="1.0" encoding="utf-8"?>
<Media Key="15764275-d33b-453a-83f9-fb9cee19b9ab" Alias="DSCN0188" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0188</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:35</CreateDate>
    <NodeName Default="DSCN0188" />
    <SortOrder>82</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/onbhmfj1/dscn0188.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>