<?xml version="1.0" encoding="utf-8"?>
<Media Key="b514b3ac-94ab-4e77-9166-67f4120e8329" Alias="DSCN0354" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0354</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-01T14:06:30</CreateDate>
    <NodeName Default="DSCN0354" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vkzbjnnl/a3d13a52a059446a9d283e4449c64aad.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>