<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d9e8e3f-ded3-4794-9557-2df9b823fc17" Alias="DSCN0151" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0151</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:34</CreateDate>
    <NodeName Default="DSCN0151" />
    <SortOrder>51</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hghj2dot/dscn0151.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>