<?xml version="1.0" encoding="utf-8"?>
<Media Key="377f04ea-88a4-45c3-9754-04385a7febe7" Alias="DSCN0372 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN03721</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-01T14:06:32</CreateDate>
    <NodeName Default="DSCN0372 (1)" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3qch4n3e/8a0a7ad87ef64b0a9c992a58529ae046.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>