<?xml version="1.0" encoding="utf-8"?>
<Media Key="fcadd6c3-98e2-4641-bc5f-fff8ea7666ac" Alias="DSCN0429" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0429</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T22:58:28</CreateDate>
    <NodeName Default="DSCN0429" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yxlk15hc/dscn0429.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>