<?xml version="1.0" encoding="utf-8"?>
<Media Key="755b8a68-21f3-4b75-9cc7-e31e3c15716d" Alias="DSCN0422" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0422</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T22:58:05</CreateDate>
    <NodeName Default="DSCN0422" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/n0ffw3pt/dscn0422.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>