<?xml version="1.0" encoding="utf-8"?>
<Media Key="6761f131-ca8b-4ea4-a56b-ea107502114c" Alias="DSCN0256" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0256</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T22:45:55</CreateDate>
    <NodeName Default="DSCN0256" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/g5yhcz2l/dscn0256.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>