<?xml version="1.0" encoding="utf-8"?>
<Media Key="cde9da5f-58ec-4624-8cea-d2abbac6d4d6" Alias="DSCN0219" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0219</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T22:45:54</CreateDate>
    <NodeName Default="DSCN0219" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lhnottpm/dscn0219.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>