<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a8c8704-650a-47da-bad7-fb7f373f5dc6" Alias="DSCN0193" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0193</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:35</CreateDate>
    <NodeName Default="DSCN0193" />
    <SortOrder>83</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/akdjy4qk/dscn0193.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>