<?xml version="1.0" encoding="utf-8"?>
<Media Key="3754b792-8908-4161-8097-b7f7ba06bd9e" Alias="DSCN0192" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0192</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:35</CreateDate>
    <NodeName Default="DSCN0192" />
    <SortOrder>78</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ss1finyi/dscn0192.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>