<?xml version="1.0" encoding="utf-8"?>
<Media Key="df340aa5-8895-4257-84d7-75a6b92936e6" Alias="DSCN0164" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0164</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:34</CreateDate>
    <NodeName Default="DSCN0164" />
    <SortOrder>64</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/umfdjx2v/dscn0164.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>