<?xml version="1.0" encoding="utf-8"?>
<Media Key="18d5c667-36e9-4e6f-83c8-a89a9d9b292e" Alias="DSCN0195" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0195</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:35</CreateDate>
    <NodeName Default="DSCN0195" />
    <SortOrder>85</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mhdnkghj/dscn0195.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>