<?xml version="1.0" encoding="utf-8"?>
<Media Key="3039ad2e-f659-4202-a8bb-19b6706295f7" Alias="DSCN0269" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0269</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T22:45:56</CreateDate>
    <NodeName Default="DSCN0269" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fcwdsmcz/dscn0269.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>