<?xml version="1.0" encoding="utf-8"?>
<Media Key="4101bb19-6a6c-4ec0-acf4-00b7c34130f8" Alias="DSCN0276" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0276</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T22:45:56</CreateDate>
    <NodeName Default="DSCN0276" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/d43bcqlm/dscn0276.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>