<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd163333-f83d-4ec2-a041-50317364f01e" Alias="DSCN0324" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DSCN0324</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-25T21:14:01</CreateDate>
    <NodeName Default="DSCN0324" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/guzbnpj3/77fce1cdf0024c82b42c01e5e699b5ab.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>