<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5437783-e93d-43ca-a43a-211babcf81ff" Alias="DSCN0152" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0152</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:34</CreateDate>
    <NodeName Default="DSCN0152" />
    <SortOrder>52</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qv1fhnj3/dscn0152.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>