<?xml version="1.0" encoding="utf-8"?>
<Media Key="a98db09b-b881-4e55-9e88-6d917018d680" Alias="DSCN0091" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0091</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:32</CreateDate>
    <NodeName Default="DSCN0091" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/twyi1kmb/dscn0091.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>