<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7d1a488-87fb-4ebc-900c-465b12061a0b" Alias="DSCN0093" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0093</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:32</CreateDate>
    <NodeName Default="DSCN0093" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/r0sndj51/dscn0093.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>