<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3e78e6e-a809-42bc-8082-70d2ad93e3c4" Alias="DSCN0170" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0170</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:34</CreateDate>
    <NodeName Default="DSCN0170" />
    <SortOrder>69</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nchopmyj/dscn0170.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>