<?xml version="1.0" encoding="utf-8"?>
<Media Key="4321e80f-d6e2-46d5-95ba-541f44b1d55b" Alias="DSCN0394" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0394</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-01T14:06:33</CreateDate>
    <NodeName Default="DSCN0394" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bhuccq5c/989fe1dd76654ec8a1c507b2d6dfa5e1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>