<?xml version="1.0" encoding="utf-8"?>
<Media Key="77f104eb-636e-477a-a7f8-09d86fade797" Alias="DSCN0413" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0413</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T22:57:28</CreateDate>
    <NodeName Default="DSCN0413" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3ucpc31o/dscn0413.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>