<?xml version="1.0" encoding="utf-8"?>
<Media Key="6dd27a7d-6148-42ac-a41f-63ad9ae04976" Alias="DSCN0410" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0410</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T22:57:18</CreateDate>
    <NodeName Default="DSCN0410" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pn3ne1ki/dscn0410.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>