<?xml version="1.0" encoding="utf-8"?>
<Media Key="c20a12c2-4a5a-49b7-b525-1f17587a3161" Alias="DSCN0393" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0393</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-01T14:06:33</CreateDate>
    <NodeName Default="DSCN0393" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yqjavqs0/a52242cc85f24d9b8e99780b14b7812f.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>