<?xml version="1.0" encoding="utf-8"?>
<Media Key="9361775b-0ddc-4cae-8f63-397bb1efc230" Alias="DSCN0329" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DSCN0329</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-25T21:14:02</CreateDate>
    <NodeName Default="DSCN0329" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lv1hde42/aa9ae36e8e144a049cb999e72652deb7.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>