<?xml version="1.0" encoding="utf-8"?>
<Media Key="fcc9accc-2e17-4680-b699-b8f38f8c68af" Alias="DSCN0034" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0034</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:31</CreateDate>
    <NodeName Default="DSCN0034" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zkwmt5ax/dscn0034.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>