<?xml version="1.0" encoding="utf-8"?>
<Media Key="74da330e-26ad-40a4-89d3-feb5504afee9" Alias="DSCN0331" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DSCN0331</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-25T21:14:03</CreateDate>
    <NodeName Default="DSCN0331" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/baznu3fn/111356cfd87d40d4af54f7279a991d46.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>