<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed5f281f-6689-48ca-9f4c-ec72d1ebc873" Alias="DSCN0060" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0060</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:32</CreateDate>
    <NodeName Default="DSCN0060" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/deuf51mj/dscn0060.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>