<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c8b1a6e-0caa-4920-b62d-0e540ed9b804" Alias="DSCN0377 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN03771</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-10T22:07:26</CreateDate>
    <NodeName Default="DSCN0377 (1)" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/naniwpfk/82a7528010a44d679ab244f312969751.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>