<?xml version="1.0" encoding="utf-8"?>
<Media Key="be89774d-07d9-4a84-91ca-fa2008372460" Alias="DSCN0094" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0094</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:32</CreateDate>
    <NodeName Default="DSCN0094" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jn1jtpwz/dscn0094.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>