<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ad9ceec-82a8-4ede-ba2c-0767d5c33180" Alias="DSCN0165" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0165</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:34</CreateDate>
    <NodeName Default="DSCN0165" />
    <SortOrder>65</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3lhns0vi/dscn0165.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>