<?xml version="1.0" encoding="utf-8"?>
<Media Key="75d8a726-2c81-45e4-a45d-1ee959d51bbe" Alias="DSCN0424" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0424</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T22:58:12</CreateDate>
    <NodeName Default="DSCN0424" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ectnq3mb/dscn0424.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>