<?xml version="1.0" encoding="utf-8"?>
<Media Key="16d9f304-9b4e-42d8-9b35-986ef8846fec" Alias="DSCN0163" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0163</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:34</CreateDate>
    <NodeName Default="DSCN0163" />
    <SortOrder>63</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/alznsfso/dscn0163.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>