<?xml version="1.0" encoding="utf-8"?>
<Media Key="e86fe108-7248-44ab-98de-5ecc2dfb7f1e" Alias="DSCN0371" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0371</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-29T21:22:26</CreateDate>
    <NodeName Default="DSCN0371" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/b1qh50ci/d2b76c6aa9854208b1215feba17ae3c7.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>