<?xml version="1.0" encoding="utf-8"?>
<Media Key="bcd9515a-bffd-4897-b421-4c0e0e02de8e" Alias="DSCN0149" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0149</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:33</CreateDate>
    <NodeName Default="DSCN0149" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lrintph3/dscn0149.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>