<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6962ece-836c-4da2-b5c6-f856d7128518" Alias="DSCN0412" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0412</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T22:57:25</CreateDate>
    <NodeName Default="DSCN0412" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zaxjn3tm/dscn0412.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>