<?xml version="1.0" encoding="utf-8"?>
<Media Key="2bd2bb38-d926-491f-b980-50d951e7ee86" Alias="DSCN0371 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN03711</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-01T14:06:32</CreateDate>
    <NodeName Default="DSCN0371 (1)" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/h03nekzg/1185c208085e4421ba98a968b52b3a52.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>