<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4aa0c1b-8ee6-43c4-b3a7-f4b12b1bbf95" Alias="DSCN0420" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0420</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T22:57:57</CreateDate>
    <NodeName Default="DSCN0420" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dugkvjhg/dscn0420.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>