<?xml version="1.0" encoding="utf-8"?>
<Media Key="58ea110a-67d0-4880-8054-ab979579168d" Alias="DSCN0333" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0333</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-29T21:58:11</CreateDate>
    <NodeName Default="DSCN0333" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bqipuwgq/80e4673fc14c420bb63d22f3bba5dabe.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>