<?xml version="1.0" encoding="utf-8"?>
<Media Key="cdea3b07-e72f-4a10-bd55-438d3b4db671" Alias="DSCN0267" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0267</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T22:45:56</CreateDate>
    <NodeName Default="DSCN0267" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ae3pvtjp/dscn0267.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>