<?xml version="1.0" encoding="utf-8"?>
<Media Key="783f5d80-a83f-4dc7-a1aa-3f5679aadde7" Alias="DSCN0418" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0418</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T22:57:50</CreateDate>
    <NodeName Default="DSCN0418" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qzod44b5/dscn0418.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>