<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0f79506-92e6-4e67-a1f2-5176f0a65a21" Alias="DSCN0425" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0425</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T22:58:16</CreateDate>
    <NodeName Default="DSCN0425" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ackppmhg/dscn0425.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>