<?xml version="1.0" encoding="utf-8"?>
<Media Key="959e1951-0fed-4259-a2fd-74c873414436" Alias="DSCN0370 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN03701</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-01T14:06:31</CreateDate>
    <NodeName Default="DSCN0370 (1)" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k2mj3fpn/0320758d09764cb4ba3180ec708271ec.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>