<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab2a2acf-79a5-429b-a2c8-7b6e223fe256" Alias="DSCN0327" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DSCN0327</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-25T21:14:03</CreateDate>
    <NodeName Default="DSCN0327" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zevcvk3f/8ba122fa00554ac59bf6d4edb2b46362.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>