<?xml version="1.0" encoding="utf-8"?>
<Media Key="69bdd841-4b2f-4dbe-a214-294ce380074b" Alias="DSCN0053" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0053</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:31</CreateDate>
    <NodeName Default="DSCN0053" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/i5ml00jp/dscn0053.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>