<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c1631a7-5d71-4001-9cc9-1cece1c9bc3f" Alias="DSCN0191" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0191</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:35</CreateDate>
    <NodeName Default="DSCN0191" />
    <SortOrder>75</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ueybmxdr/dscn0191.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>