<?xml version="1.0" encoding="utf-8"?>
<Media Key="dfaa7ee7-9ea8-4d84-929d-6aef4c590caa" Alias="DSCN0326" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DSCN0326</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-25T21:14:02</CreateDate>
    <NodeName Default="DSCN0326" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2f5kvx3i/22cef7d14f404820ada8ed5bafda30cc.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>