<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d6002a2-1054-4d8f-be5c-5071bfdac34f" Alias="DSCN0150" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0150</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:33</CreateDate>
    <NodeName Default="DSCN0150" />
    <SortOrder>50</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uqbga1ku/dscn0150.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>