<?xml version="1.0" encoding="utf-8"?>
<Media Key="40356cb0-a263-4ff7-972d-00c4bd750afc" Alias="DSCN0190" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0190</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:35</CreateDate>
    <NodeName Default="DSCN0190" />
    <SortOrder>81</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wzwdkqdd/dscn0190.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>