<?xml version="1.0" encoding="utf-8"?>
<Media Key="06f98e8b-cfb2-483b-8791-be1d12a64be8" Alias="DSCN0189" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0189</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:35</CreateDate>
    <NodeName Default="DSCN0189" />
    <SortOrder>74</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rwhpsbvs/dscn0189.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>