<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a8481c6-fa38-4157-ac80-3146fb0c7eb0" Alias="DSCN0352 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN03521</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-01T14:06:32</CreateDate>
    <NodeName Default="DSCN0352 (1)" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ycaji0ry/cd433131e4d94d15b5b64b93bb770a2a.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>