<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e837de7-7ae5-41f8-9c14-1e1bbf38c900" Alias="DSCN0332" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DSCN0332</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-25T21:14:03</CreateDate>
    <NodeName Default="DSCN0332" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2f4jghxf/7256192e171b4226a7e3bd2355e8dcad.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>