<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e0cfa32-976e-4eb0-869d-39a4d7a57e98" Alias="DSCN0058" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0058</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:32</CreateDate>
    <NodeName Default="DSCN0058" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gt3ay1to/dscn0058.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>