<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ddcbc10-3097-4b32-a71f-62781efab050" Alias="DSCN0320" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DSCN0320</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2024-04-25T21:14:03</CreateDate>
    <NodeName Default="DSCN0320" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hc4nyxmx/dscn0320.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>