<?xml version="1.0" encoding="utf-8"?>
<Media Key="8997513a-55a9-40e7-a84f-8680589b79dc" Alias="DSCN0062" Level="3">
  <Info>
    <Parent Key="cfc55d31-be44-44ba-80ce-46dea891e482">Subfolder</Parent>
    <Path>/Images/Subfolder/DSCN0062</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T23:05:32</CreateDate>
    <NodeName Default="DSCN0062" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hrijpcnj/dscn0062.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>