<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc2442ee-5a25-4044-b129-7b3e35f63f80" Alias="DSCN0403" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSCN0403</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T22:56:47</CreateDate>
    <NodeName Default="DSCN0403" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3bbcjtbf/dscn0403.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>