<?xml version="1.0" encoding="utf-8"?>
<Media Key="75fb5e6f-0f4d-4be4-ae1c-87adf5c725bc" Alias="Forest 3622519 1920 (1)" Level="2">
  <Info>
    <Parent Key="41162ecf-9e22-4877-99dc-492f6721879e">Images</Parent>
    <Path>/Images/Forest362251919201</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T13:41:17</CreateDate>
    <NodeName Default="Forest 3622519 1920 (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nfppw3kn/forest-3622519_1920_processed_1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>