<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca06ebd6-238e-4636-b9c1-ebae7bb90ddd" Alias="Forest 3622519 1920" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Forest36225191920</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-28T13:40:40</CreateDate>
    <NodeName Default="Forest 3622519 1920" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0dvbnsuo/forest-3622519_1920_processed_1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>