<?xml version="1.0" encoding="utf-8"?>
<Media Key="933cafcf-7765-49b8-9b77-814721108000" Alias="Forest 3622519 1920" Level="2">
  <Info>
    <Parent Key="41162ecf-9e22-4877-99dc-492f6721879e">Images</Parent>
    <Path>/Images/Forest36225191920</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-22T15:36:35</CreateDate>
    <NodeName Default="Forest 3622519 1920" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zgxdze1f/forest-3622519_1920.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>