<?xml version="1.0" encoding="utf-8"?>
<Media Key="7afe6b0f-6fe0-46f5-b937-b1480de1baac" Alias="Hdrshooter Super Ultra Wide Wallpaper 007" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/HdrshooterSuperUltraWideWallpaper007</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-24T20:51:16</CreateDate>
    <NodeName Default="Hdrshooter Super Ultra Wide Wallpaper 007" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bfvp24xa/hdrshooter-super-ultra-wide-wallpaper-007_wpa_1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>