<?xml version="1.0" encoding="utf-8"?>
<Media Key="8dcd413d-c4a2-4c9b-adff-765631eceb46" Alias="Hdrshooter Super Ultra Wide Wallpaper 007 (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/HdrshooterSuperUltraWideWallpaper0071</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-24T20:51:19</CreateDate>
    <NodeName Default="Hdrshooter Super Ultra Wide Wallpaper 007 (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hnan1dnc/hdrshooter-super-ultra-wide-wallpaper-007_wpa_1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>