<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f2c853d-40d6-4786-8365-37aa78871887" Alias="Pexels Chris G 1643409" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PexelsChrisG1643409</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-23T22:16:10</CreateDate>
    <NodeName Default="Pexels Chris G 1643409" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hocdyd4w/pexels-chris-g-1643409.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>