<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfc55d31-be44-44ba-80ce-46dea891e482" Alias="Subfolder" Level="2">
  <Info>
    <Parent Key="41162ecf-9e22-4877-99dc-492f6721879e">Images</Parent>
    <Path>/Images/Subfolder</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-24T12:55:29</CreateDate>
    <NodeName Default="Subfolder" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>