<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d2abfa7-f367-48f0-ad3d-92a2409797f2" Alias="Wp1965356" Level="2">
  <Info>
    <Parent Key="41162ecf-9e22-4877-99dc-492f6721879e">Images</Parent>
    <Path>/Images/Wp1965356</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-22T15:36:35</CreateDate>
    <NodeName Default="Wp1965356" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ug5dutlh/wp1965356.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>