<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f7d6bce-5d83-4b02-bdf0-c1cf6b743903" Alias="Wp1965356" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Wp1965356</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-23T22:17:43</CreateDate>
    <NodeName Default="Wp1965356" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zbvh0h2d/wp1965356_wpa_1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>