bold{
    font-weight: bold;
}
uui-input{
    display: block;
}
uui-popover-container{
    background: white;
    padding: 10px;
    border-radius: 5px;
    overflow: clip;
    box-shadow: 6px 6px 62px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 6px 62px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 62px 0px rgba(0,0,0,0.75);
}
.wpaContainer{
    display: flex;
    flex-direction: column;
}
.wpaPanel{
    width: 50%;
    margin: 1rem;
}
.wpaTable{
    border-radius: 4px 4px 0 0;
    border: 1px #d3d4d4 solid;
    overflow: clip;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.35);
}
.wpaDashboard{
    display: flex;
    flex-direction: row;
}
.wpaNotification{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 12%;
    bottom: 2vh;
}
.wpaSaveButton{
    padding: 1vh;
}
.wpaStackedButton{
    padding: 0.1rem;
    min-width: 6rem;
    float: right;
}

.wpaCenteredLabel{
    display: block;
    text-align: center;
}
.wpaMutedText{
    display: block;
    font-size: 0.8rem;
    font-style: italic;
    font-weight: lighter;
}

.wpaExtraLargeText{
    font-size: 3rem;
    padding: 1rem;
}

.wpaSplitterCell{
    height: 1px;
    padding: 0px;
    background-color: #e7e7e7;
}

.wpaImgContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.5rem;
}

.wpaSelectableImg{
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 1;
    transition: .1s ease;
    backface-visibility: hidden;
}

.wpaSelectableImg:hover {
    opacity: 0.3;
}

.wpaSelectedImg{
    -webkit-box-shadow:inset 0px 0px 0px 5px #6CFF59FF;
    -moz-box-shadow:inset 0px 0px 0px 5px #6CFF59FF;
    box-shadow:inset 0px 0px 0px 5px #6CFF59FF;
}